/* P Style */
p {
    margin: 5px 0;
    font-size: 1.3em;
}

/* H1 Style */
h1{
    font-size: 2.5em;
}

/* Body Style */
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Month Notice Style */
#my_date_ms{
    color: white;
    background-color: green;
    padding: 10px 0px;
    width: 100%;
    border: 2px solid black;
}

/* Form Style */
.my-form {
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    height: fit-content;
    background-color: green;
    border: 2px solid black;
}

/* Form Inputs */
.my-form input{
    margin-right: 50px;
}

/* Form Button */
#user_submit{
    width: 200px;
}

/* Inputs Placeholder Style */
#pass_word #user_name::-webkit-input-placeholder {
    color: #b2cde0
 }

 /* Holiday Button */
.holiday-but{
    width: 100%;
    height: auto;
}

.wide-but{
    width: 100px;
    height: 40px;
    text-align: center;
    transition: 0.3s;
    
}

.wide-but:hover{
    background-color: green;
    border: none;
}

#login_ms{
    padding-top: 10px !important;
}
